<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trendypeop.myapp.mapper.CodyMapper">

	<select id = "codyList" resultType="com.trendypeop.myapp.entity.Cody">
		select * from tb_cody
	</select>
	
	<select id = "likeCodyList" resultType="com.trendypeop.myapp.entity.Cody">
		select * 
		from tb_cody inner join tb_cody_favorite 
		on tb_cody.cody_idx = tb_cody_favorite.cody_idx
		where tb_cody_favorite.user_id = #{user_id}
	</select>
	
	<insert id="insertCodyHeart" parameterType="com.trendypeop.myapp.entity.Cody">
		insert into tb_cody_favorite(cody_idx, user_id) values(#{cody_idx}, #{user_id})
	</insert>
	
	<delete id="deleteCodyHeart" parameterType="com.trendypeop.myapp.entity.Cody">
		delete from tb_cody_favorite where cody_idx = #{cody_idx} and user_id = #{user_id}
	</delete>
	
	<select id="checkCodyHeart" parameterType="com.trendypeop.myapp.entity.Cody" resultType="int">
		select count(*) from tb_cody_favorite where cody_idx = #{cody_idx} and user_id = #{user_id}
	</select>
	
	<select id = "codyDetail" parameterType="int" resultType="com.trendypeop.myapp.entity.Cody">
		select * 
		from tb_item as it inner join tb_cody as cd 
		on cd.cody_idx=it.cody_idx 
		where it.cody_idx = #{cody_idx}
	</select>
	
	<select id="getTags" parameterType = "String" resultType="com.trendypeop.myapp.entity.Cody">
		select * from tb_cody inner join tb_cody_favorite on tb_cody.cody_idx = tb_cody_favorite.cody_idx where tb_cody_favorite.user_id = #{user_id}
	</select>
	
</mapper>